td>form{
    display: inline;
}
table{
  margin-left: auto;
  margin-right: auto;
}
.adminData{
  border: 0.5px solid #a7a7a7;
  border-collapse: collapse;
}
.adminData img, .modal img {
  object-fit: contain;
  width: 120px;
  height: 110px;
}
#user-data{
  text-align: center;
}
#tea-data{
  text-align: center;
}
#topping-data{
  text-align: center;
}
#menu-admin{
  text-align: center;
}
.home-button{
  text-align: right;
}
.admin-button>a:hover{
  background-color: #FFE4C4;
  transition: all 0.5s;
  border-radius: 4px;
}

textarea{
  resize: none;
}
.addBtn {
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  /* font-size: 10px; */
  /* padding: 20px; */
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.addBtn span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.addBtn span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.addBtn:hover{
  background-color: #FFE4C4;
}
.addBtn:hover span {
  padding-right: 25px;
}
.addBtn:hover span:after {
  opacity: 1;
  right: 0;
}

td.adminData form button {
  background-color: transparent;
  border: 0;
  padding: 5px;
}

td.adminData form button:hover {
  background-color: rgb(221, 221, 221);
}

td.adminData, th.adminData {
  padding: 3px;
}

tr.adminData:not(.first-row):hover{
  background-color: rgba(248, 248, 248);
}

.first-row {
  background-color: rgb(255, 145, 0);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.first-row th {
  padding-top: 5px;
  padding-bottom: 5px;
}

.search{
  border: 1px solid #ccc;
  border-radius: 4px;
}

.clear-btn{
  background-color: transparent;
  border: none;
}