td>form{
    display: inline;
  }
  table{
    margin-left: auto;
    margin-right: auto;
  }
  .adminData{
    border: 2px solid gray;
    border-collapse: collapse;
  }
  #user-data{
    text-align: center;
  }
  #tea-data{
    text-align: center;
  }
  #topping-data{
    text-align: center;
  }
  #menu-admin{
    text-align: center;
  }
  .home-button{
    text-align: right;
  }
  .admin-button>a:hover{
    background-color: #FFE4C4;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.4);
  }
  .modal>div{ /*modal content*/
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border:1px solid #888;
    width: 400px;
    border-radius: 15px;
  }
  .modal h2{
    margin-top: 0;
  }
  .close {
    float: right;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover, .close:focus {
    color: #000;
    cursor: pointer;
  }