/* judul */

#laporan-manajerial {
    text-align: center;
}


/* Main form */

ul {
    text-align: center;
    padding: 0;
}

li {
    list-style-type: none;
}

#checkbox-laporan {
    size: 15;
}

.hide {
    display: none;
}

#form-laporan {
    margin: 0 auto;
    width: 600px;
}

.addBtn {
    border-radius: 4px;
    background-color: #FFE4C4;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    /* font-size: 10px; */
    /* padding: 20px; */
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.addBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.addBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.addBtn:hover {
    background-color: #D2B48C;
}

.addBtn:hover span {
    padding-right: 25px;
}

.addBtn:hover span:after {
    opacity: 1;
    right: 0;
}