table td {
    font-size: 14px;
    line-height: 1.4;
}

table th {
    font-size: 12px;
    line-height: 1.4;
    text-transform: uppercase;
}

th, td {
    padding: 10px;
}

canvas {
    margin: auto;
}

#wrapper {
    margin: 0 50px;
}

tr:not(.first-row):hover{
    background-color: rgb(243, 243, 243);
}
  
.first-row {
    background-color: rgb(4, 64, 133);
    color: white;
}

table, td, th {
    border: 0.5px solid #a7a7a7;
    border-collapse: collapse;
}