/* judul */

#laporan-manajerial {
    text-align: center;
}


/* Main form */

ul {
    text-align: center;
}

li {
    list-style-type: none;
}

#checkbox-laporan {
    size: 15;
}

.date {
    visibility: visible;
}