/* judul */

#laporan-manajerial {
    text-align: center;
}


/* Main form */

ul {
    text-align: center;
    padding: 0;
}

li {
    list-style-type: none;
}

#checkbox-laporan {
    size: 15;
}

.hide {
    display: none;
}

#form-laporan {
    margin: 0 auto;
    width: 600px;
}